:root{
    --headrerBG: rgb(44, 40, 36);
    --titleHeader: rgb(245, 220, 204);
    --defautTextColor:black; 
    --escrita:rgb(247, 238, 240);
}
main{
    background: rgb(17, 14, 15);
    position: relative;
    width: 96vw;
    left: 2vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    margin-top: 10px;
    color: var(--escrita);
    font-weight: 100;
    text-align: center;
}
main p{
    font-size: 1.4vw;
    padding:0 10vw;
    color: var(--escrita);
}
main img{
    width: 60vw;
    margin-bottom: 3vw;
}
main h2{
    color: var(--escrita);
    font-weight: 100;
    margin: 0;
}
main i{
    color: var(--escrita);
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
main ul{
    padding: 0 10vw;
}
main li{
    color: var(--escrita);
    font-size: 1.4vw;
}
@media(min-width:1100px){

}
@media(max-width:480px){
    main p{
        font-size: 5vw;
    }
    main i{
        font-size: 4vw;
        text-align: center;
    }
    main li{
        font-size: 4vw;
    }
}
