:root{
    --headrerBG: rgb(44, 40, 36);
    --titleHeader: rgb(245, 220, 204);
    --defautTextColor:black; 
}
#foot{
    display: flex;
    background: var(--titleHeader);
    justify-content: space-between;
    align-items: center;
}
#morte{
    margin-top: 1vw;
    width: 7vw;
}
#contatos{
    margin-right: 2vw;
}
.cont{
    margin-left: 2vw;
}

#gitLogo{
    width: 2.5vw;
    transition: 0.2s;
}
#gitLogo:hover{
    opacity: 0.85;
}

#linkedin{
    width: 2.5vw;
    transition: 0.2s;
}
#linkedin:hover{
    opacity: 0.85;
}
@media (min-width: 1100px){
    #morte{
        margin-top: 1vw;
        width: 4vw;
    }
    #contatos{
        margin-right: 2vw;
    }
    .cont{
        margin-left: 2vw;
    }
    #gitLogo{
        width: 1.5vw;
    }
    #linkedin{
        width: 1.5vw;
    }
}