:root{
    --headrerBG: rgb(44, 40, 36);
    --titleHeader: rgb(245, 220, 204);
    --defautTextColor:black; 
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/beijo.png");
}
html{
    height: 100vh;
}
*{
    font-family: 'EB Garamond', serif;
    color: black;
}